<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化平台</title>
    <link rel="icon" type="image/x-icon" href="../static/images/DataWorks-blue.png">
    <script type="text/javascript" src="../static/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <script type="text/javascript" src="../static/js/china.js"></script>
    <script type="text/javascript" src="../static/js/macarons.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
</head>
<body>
<div style="width: 100%; height: 100%;">
    <div style="background-color: blueviolet; width: 100%; height: 30%; position: absolute;">
        <h1 style="alignment: center;position: absolute; top: 5px; left: 75px">
            <span class="label-default label" style="font-family: 'Arial Black'; font-size: xx-large; color: #f1dcff">
                <img src="/static/images/DataWorks-blue%20(1).png">
                微博数据分析平台
            </span>
        </h1>
    </div>
    <div class="btn-group" style="position: absolute; right: 70px; top: 5px;">
            <form action="" method="get">
                <button class="btn" style="width: 150px; height: 50px;font-size: x-large;font-family: Arial;color: #b5fffd;text-align: center">
                    首页
                </button>
            </form>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown" style="width: 150px; height: 50px; font-size: x-large;font-family: Arial;color: #b5fffd;text-align: center">
                    博主
                </button>
                <div class="dropdown-menu" style="width: 150px;background-color: #00d7ff; text-align: center;">
                    <form action="/pie" method="get">
                        <button class="btn" style="color: #deffff">男女比例</button>
                    </form>
                    <form action="/map" method="get">
                        <button class="btn" style="color: #deffff">地址云图</button>
                    </form>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown" style="width: 150px; height: 50px;font-size: x-large;font-family: Arial;color: #b5fffd;text-align: center">
                    微博
                </button>
                <div class="dropdown-menu" style="width: 150px;text-align: center;background-color: #00d7ff">
                    <form action="/phonePie" method="get">
                        <button class="btn" style="color: #deffff">微博来源比例</button>
                    </form>
                    <form action="/ployChart" method="get">
                        <button class="btn" style="color: #deffff">每月微博数</button>
                    </form>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown" style="width: 150px; height: 50px; font-size: x-large;font-family: Arial;color: #b5fffd;text-align: center">
                    个体分析
                </button>
                <div class="dropdown-menu" style="width: 150px;text-align: center;background-color: #00d7ff">
                    <form action="/ployYu" method="get">
                        <button class="btn" style="color: #deffff">余文乐</button>
                    </form>
                    <form action="/ployG" method="get">
                        <button class="btn" style="color: #deffff">关晓彤</button>
                    </form>
                    <form action="/ployW" method="get">
                        <button class="btn" style="color: #deffff">魏大勋</button>
                    </form>
                    <form action="/ployY" method="get">
                        <button class="btn" style="color: #deffff">杨迪</button>
                    </form>
                </div>
            </div>
        </div>
    <div style="position: absolute; top: 70px;left: 5%">
        <span style="font-family: 'Microsoft YaHei UI'; font-size: large; color: #f1dcff">微博博主数</span>
        <span id="upnum" style="font-family: 'Arial Black'; font-size: large; color: #3fd5ff"></span><br>
        <span style="font-family: 'Microsoft YaHei UI'; font-size: large; color: #f1dcff">微博数</span>
        <span id="weibonum" style="font-family: 'Arial Black'; font-size: large; color: #3fd5ff"></span>
    </div>
    <div style="background-color: #f5f5f5; width: 90%; height: 1085px; position: absolute; top: 15%;right: 5%; border-radius: 10px;">
{#        展示男女比例的饼状图<-- -->#}
        <div id="pie" style="background-color: white; width: 400px; height: 400px; position: absolute; top: 25px; left: 25px; border-radius: 10px">

        </div>
{#        人员分布#}
        <div id="map" style="background-color: white; width: 900px; height: 500px; position: absolute; top: 25px; right: 25px; border-radius: 10px">

        </div>
{#        发博数量和日期之间的关系#}
        <div id="ployChart" style="background-color: white; width: 900px; height: 500px; position: absolute; top: 555px; left: 25px; border-radius: 10px">
        </div>
{#        发博设备的饼状图#}
        <div id="phonePie" style="background-color: white; width: 400px; height: 400px; position: absolute; top: 555px; right: 25px; border-radius: 10px">
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/Page2.js"></script>
</body>
</html>